@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.accessBar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
    padding: 10px 15px;
    list-style: none;
    gap: 2rem;
    display: flex;
    flex-direction: row-reverse;
    background-color: #333399;
    color: #fff;
}

.accessBar li {
    cursor: pointer;
}

.accessBar a:link {
    color: #fff;
    text-decoration: none;
}

.accessBar a:visited {
    text-decoration: none;
    color: #fff;
}

.accessBar a:hover {
    color: #fff;
    text-decoration: none;
}

.accessBar a:active {
    color: #fff;
    text-decoration: none;
}


.headerBar {
    position: fixed;
    z-index: 4;
    color: #333;
    width: 100%;
    gap: 0.5rem;
    padding: 10px 0;
    top: 39px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.logo-container {
    display: flex;
    top: -10px;
    padding: 10px;
    position: relative;
    width: 100%;
    align-items: center;
}

.nav {
    display: none;
}

#logo_img {
    width: 10rem;
    margin: 0 0.6rem;
    filter: brightness(0.9);
    transition: 0.3s;
}

#header {
    font-size: 40px;
    transition: 0.3s;
    text-align: center;
}

.logo {
    width: 12rem;
}

#navbar {
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
}

.dropbtn {
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #333399; color:#fff;}


.big_text {
    font-size: 20rem;
}

.announce {
    padding: 10px;
    background-color: #333399;
    color: #fff;
}

.spacer {
    position: relative;
    width: 100%;
    height: 17rem;
}

.hero {
    position: relative;
    width: 100%;
    height: 30rem;
    background-image: url('../src/hero_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#type {
    position: relative;
    top: 70px;
    font-size: 5rem;
    color: #ddd;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 25px;
    gap: 2rem;
    flex: 1 1 1;
    width: 100%;
}

.card {
    position: relative;
    padding: 15px;
    width: 30%;   
    border-radius: 10px;
    transition: 0.2s ease;
}

.card-header {
    border-bottom: 5px solid #333399;
}

.card span {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #fff;
}

.cards-container .card:hover {
    box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

.card span:hover {
    background-color: #e7e7e7;
    border-bottom: 1px solid gray;
}

.big-head {
    font-size: 4rem;
    color: #3366CC;
}

#bar-chart {
    width: 62%;
}

#myChart {
    position: relative;
    margin: auto;
}

#student .card{
    width: 50%;
}

.branches {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.branches li {
    width: 100%;
}

.branches .dropbtn {
    width: 4rem;
}

#feedback input {
    width: 100%;
}

#feedback label {
    position: relative;
    top: -10px;
}

#feedback input[type="text"] {
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #333;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}
#testimonial-head {
    text-align: center;
    font-size: 60px;
}

#testimonials {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #333399;
    color: #fff;
    width: 100%;
    padding: 20px;
}

#testimonials .card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: 0.5s ease;
}

#testimonials .card:hover {
    box-shadow: 0 0 20px rgba(255,255,255,0.4), 0 0 50px rgba(255,255,255,0.4);
}

#testimonials img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.big-links-wrapper {
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.big-link {
    font-size: 2.5rem;
    transition: 0.2s ease;
}

.big-link img {
    width: 35px;
    transition: 0.2s ease;
}

.big-link:hover {
    text-shadow: 0 0 10px #3366CC;
}

.big-link:hover img {
    transform: translateX(30px);
}

.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 10px;
    height: 500px;
    background-color: #333399;
    color: #fff;
}

#quick-links {
    width: 50%;
}

.quick-links-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

.one, .two {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    list-style: none;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    list-style: none;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    list-style: none;
}
 
.footerCard {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 24%;
}

.footerCard h2 {
    border-bottom: 5px solid #fff;
    padding: 10px;
}

@media screen and (max-width: 1200px) {

    .nav {
        display: block;
        position: absolute;
        background: transparent;
        border: 0;
        right: 0;
        padding: 0.6rem;
        margin-left: 8rem;
        cursor: pointer;
    }

    #navbar {
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 100%;
        top:0;
        left: 0;
        box-shadow: 10px 0 10px rgba(0,0,0,0.2);
        transition: 0.3 ease;
    }

}

@media screen and (max-width: 870px) {

    .nav {
        display: block;
        position: absolute;
        background: transparent;
        border: 0;
        right: 0;
        padding: 0.6rem;
        margin-left: 8rem;
        cursor: pointer;
    }

    #navbar {
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 100%;
        top:0;
        left: -100%;
        box-shadow: 10px 0 10px rgba(0,0,0,0.2);
        transition: 0.3 ease;
    }

    #type {
        font-size: 4rem;
    }

    #logo-img {
        margin: 0;
    }

    #student {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #student .card {
        width: 100%;
    }

    .cards-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .cards-container .card {
        width: 100%;
    }

    .footer h2 {
        font-size: 20px;
    }
}
