html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.accessBar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
    padding: 10px 15px;
    list-style: none;
    gap: 2rem;
    display: flex;
    flex-direction: row-reverse;
    background-color: #333399;
    color: #fff;

}

.headerBar {
    position: fixed;
    z-index: 4;
    color: #fff;
    width: 100%;
    gap: 0.5rem;
    padding: 10px 0;
    top: 40px;
    display: flex;
    flex-direction: column;
    background-color: #3366CC;
}

.logo-container {
    display: flex;
    top: -10px;
    padding: 10px;
    position: relative;
    width: 100%;
    align-items: center;
}

#logo_img {
    width: 10rem;
    transition: 0.3s;
}

#header {
    transition: 0.3s;
    text-align: center;
}

.logo {
    width: 12rem;
}

.navbar {
    display: flex;
    position: relative;
    margin: auto;
    font-size: 0.8rem;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
}

.big_text {
    font-size: 20rem;
}

.announce {
    padding: 10px;
    background-color: #333399;
    color: #fff;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 25px;
    gap: 2rem;
    flex: 1 1 1;
    width: 100%;

}

.card {
    position: relative;
    padding: 15px;
    width: 30%;   
    border-radius: 10px;
    transition: 0.2s ease;
}

.card-header {
    border-bottom: 5px solid #333399;
}

.card span {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #fff;
}

.cards-container .card:hover {
    box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

.card span:hover {
    background-color: #e7e7e7;
    border-bottom: 1px solid gray;
}

.big-head {
    font-size: 4rem;
    color: #3366CC;
}

#bar-chart {
    width: 62%;
}

#myChart {
    position: relative;
    margin: auto;
}

#testimonial-head {
    text-align: center;
    font-size: 5rem;
}

#testimonials {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3366CC;
    width: 100%;
    padding: 20px;
}

#testimonials .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: 0.5s ease;
}

#testimonials .card:hover {
    box-shadow: 0 0 20px rgba(255,255,255,0.4), 0 0 50px rgba(255,255,255,0.4);
}

#testimonials img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.big-links-wrapper {
    position: relative;
}
